a.btn {
  display: block;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 20px;
}

.profile-badge {
  display: block;
  width: 100%;
  margin: 3px;
}

.badge.error {
  display: block;
  width: 100%;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

.repo-badge {
  display: block;
  width: 100%;
}